html,
body {
  font-family: 'Press Start 2P', cursive;
  font-family: 'Russo One', sans-serif;
  background: rgb(9,0,36);
  background: linear-gradient(128deg, rgba(9,0,36,1) 0%, rgba(9,9,121,1) 67%, rgba(0,65,255,1) 100%);
}

button {
  background-color: aliceblue;
  transition-duration: 400ms;
}

button:hover {
  filter: brightness(0.8);
}

button:active {
  filter: brightness(0.7);
}

.main {
  color: rgb(237, 237, 237);
  min-height: 100vh;
  padding: 0 1em 2em;
}

.block-title {
  font-size: 4em;
  font-weight: 900;
  text-align: center;
  padding: 1em 0;
}

.lead {
  font-size: 2em;
  text-align: center;
}

.input-wrap {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 1em 0;
}

#todoInput,
#addButton,
#todoList ul li,
#todoList ul li button {
  border-radius: 15px;
}

#todoInput {
  padding: .8em;
}

#addButton {
  min-width: 5em;
}

#todoList ul {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#todoList ul li {
  display: flex;
  align-items: center;
  gap: 1em;
  background: rgb(0,7,61);
  background: linear-gradient(29deg, rgba(0, 12, 99, 0.65) 0%, rgba(0,0,75,0.65) 75%, rgba(0,10,41,0.60) 100%);
  padding: .8em;
}

#todoList ul li button {
  padding: .3em;
}

#todoList ul li button:first-of-type {
  margin-left: auto;
}

#todoList ul li s {
  color: gray;
}
